*{
    font-family: segoe ui;
}

form{
    width: 31%;
    border-radius: 40px;
    border: 2px orange solid;
    margin: 150px auto;
    padding: 5%;
}
 
label{
    display: table;
    padding: 10px;
}
 
input{
    padding: 5px;
}
 
input[type="text"]{
    max-width:400px;
    width:100%;
}
button{
    background: orange;
    border: none;
    margin-top: 20px;
    padding: 1% 10%;
}